{% if responded == False %}
<div id="main-section" class="contactme py-4 px-5 mx-auto my-5 text-center bg-white border rounded shadow hidden">
    <h1>Contact</h1>
    <form action="{% url 'main:base' %}" method="post">
        {% csrf_token %}
        <div class="row flex-wrap">
            <div class="col-lg-6 py-2">
                <span class="form-label float-start">
                    {{ form.full_name.label_tag }}
                </span>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-person-circle text-info"></i>
                    </span>
                    {{ form.full_name }}
                </div>
            </div>
            <div class="col-lg-6 py-2">
                <span class="form-label float-start">
                    {{ form.email.label_tag }}
                </span>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-envelope-fill text-info"></i>
                    </span>
                    {{ form.email }}
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col">
                <span class="form-label float-start">
                    {{ form.message.label_tag }}
                </span>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-chat-square-text-fill text-info"></i>
                    </span>
                    {{ form.message }}
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col">
                <span class="form-label">
                    {{ form.captcha.label_tag }}
                </span>
                <div class="container">
                    {{ form.captcha }}
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col">
                <div class="d-grid">
                    <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endif %}