{% load static %}
<div class="intro d-flex align-items-center justify-content-evenly vh-100 flex-wrap" id="main-section">
    <div>
        <img src="{% static 'main/portfoliopic.jpg' %}" class="bounceObj" id="portfolio_pic">
    </div>
    <div class="intro-text text-center mt-5">
            <h1>Hi, my name is Adam!</h1>
            <h5>I am a Computer Science student,
                interested in Software Development and Cybersecurity!
            </h5>
            <div class="m-3">
                <div class="d-flex justify-content-center">
                    <a href="https://www.linkedin.com/in/adam-taifouri-860748185/" class="img-fluid icons">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-original.svg" />
                    </a>
                    <a href="https://github.com/ataifam" class="img-fluid icons">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="aboutme bg-body-secondary p-5 mb-5 hidden" id="main-section">
    <h1 class="mb-3 text-center">About Me</h1>
    <div class="row justify-content-evenly">
        <div class="col align-items-center text-center">
            <h3 class="collapse multi-collapse" id="multiCollapse1">Education</h3>
            <a data-bs-toggle="collapse" href="#multiCollapse1" role="button" aria-expanded="false" aria-controls="multiCollapse1"><img class="interest_img rounded-circle shadow m-2" width="160" height="160" src="{% static 'main/terp.jpeg' %}"/></a>
            <div class="collapse multi-collapse" id="multiCollapse1">
                <p>Student at University of Maryland, College Park</p>
                <p>Computer Science Major</p>
                <p>Math Minor</p>
                <p>Class of 2026</p>
            </div>
        </div>
        <div class="col align-items-center text-center">
            <h3 class="collapse multi-collapse" id="multiCollapse2">Coursework</h3>
            <a data-bs-toggle="collapse" href="#multiCollapse2" role="button" aria-expanded="false" aria-controls="multiCollapse2"><img class="interest_img rounded-circle shadow m-2" width="160" height="160" src="{% static 'main/coursework.jpeg' %}"/></a>
            <div class="collapse multi-collapse" id="multiCollapse2">
                <p>Advanced Data Structures</p>
                <p>Algorithm Design and Analysis</p>
                <p>Compilers</p>
                <p>Applied Statistics</p>
            </div>
        </div>
        <div class="col align-items-center text-center">
            <h3 class="collapse multi-collapse" id="multiCollapse3">Interests</h3>
            <a data-bs-toggle="collapse" href="#multiCollapse3" role="button" aria-expanded="false" aria-controls="multiCollapse3"><img class="interest_img rounded-circle shadow m-2" width="160" height="160" src="{% static 'main/mountain.jpeg' %}"/></a>
            <div class="collapse multi-collapse" id="multiCollapse3">
                <p>Software Engineering</p>
                <p>System Design</p>
                <p>Video Games</p>
                <p>Football & Wrestling</p>
            </div>
        </div>
    </div>
</div>