{% extends "main/base.html" %}
{% block title %} Projects {% endblock title%}

{% block body %}
<div class="bottom-container">

    <center>
        <h1>Projects</h1>
        <hr width="94%">
    </center>

    <div id="project-display">
        <div class="project_panels">
            <center>
                <h3>Rest API Game</h3>
            </center>
            <ul>
                <li>Hangman styled minigame</li>
                <li>Django Rest API, Fetch, HTML, CSS, React.js, Bootstrap</li>
                <li>
                    This minigame uses Django on the backend and React.js on the frontend. Users make
                    requests via Django Rest API for a randomly selected word of chosen length from a text file in S3 Bucket.
                    React state passed between multiple routes, providing a multi-layered aspect to the game.
                </li>
            </ul>
            <center><a href="{% url 'hangman:hangman-front' %}"><button>Go</button></center></a>
        </div>

        <div class="project_panels">
            <center>
                <h3>Connectify!</h3>
            </center>
            <ul>
                <li>LinkedIn Inspired Social Media Website</li>
                <li>Django, Python, SQLite, Bootstrap</li>
                <li>
                    Utilzied Django's authentication utility to implement a social-media based site that allows users to communicate,
                    customize their profile, and give feedback to other users' posts. CRUD operations are leveraged to ensure the site
                    can execute all functionality commonly associated with social media sites, like deleting, voting, commenting, and creating posts.
                    Queries are made to PostgreSQL DB using Django's object oriented database abstraction, and Django templating language is leveraged to make dynamic queries
                    to the DB on specific HTML pages.
                </li>
            </ul>
            <center><a href="{% url 'social:register' %}"><button>Go</button></a></center>
        </div>

        <div class="project_panels">
            <center>
                <h3>University Projects</h3>
            </center>
            <ul>
                <li>Programs developed in accordance with specifications</li>
                <li>Java programming language</li>
                <li>Programs demonstrate my implementation of object-oriented design, multithreading, event-driven
                    programming, and data structure design to solve real-world problems.</li>
                <li>Made available upon request to ensure compliance with University academic integrity policies.</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
