<div inViewport [inViewportOptions]="{threshold: [0]}" (inViewportAction)="onIntersection($event)" class="bio bg-light" id="bioSection">
    <div id="bio_content">
        <div id="bio_text" [@toggleSlide]="{
            value: onBioSection ? 'enter' : 'leave',
            params: {
                enterDestination: '0px',
                leaveDestination: '-100px'
            }
        }">
            <h1>Hi, my name is Adam!</h1>
            <p>I am a Computer Science student,
                interested in Software Development!
            </p>
            <img alt="" id="lang_icons" src="github.jpg">
            <img alt="" id="lang_icons" src="gmail.jpg">
            <img alt="" id="lang_icons" src="linkedin.jpg">
        </div>
    </div>
    <div [@toggleSlide]="{
        value: onBioSection ? 'enter' : 'leave',
        params: {
            enterDestination: '0px',
            leaveDestination: '100px'
        }
    }" id="resume_pic_section">
        <img [ngClass]="{'bounceObj' : onBioSection}" alt="" id="resume_pic" src="portfoliopic.jpg">
    </div>
</div>